<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>第1章 関数型で思考する</title>
</head>
<body>
  <h1>🐱第1章 関数型で思考する🐱</h1>
  <input id="student-ssn">
  <script src="../dist/public/js/chapter1.bundle.js"></script>
</body>
</html>
